# @electron/get reads these from .npmrc
# npm warns "unknown config" but @electron/get still reads them
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
